In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('outwxdata_fine.csv')
df.head()

,OutID,LocName,Lat,Lng,OutTime,Type,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew
0,2,"Langata, Nairobi",-1.364094,36.747627,2021-04-15 10:31:30,Unplanned,21.0,0.0,7.0,9.0,1016.0,72.0,15.0
1,3,Ongata Rongai Maasai Mall,-1.394336,36.763878,2021-04-15 10:26:51,Unplanned,21.0,0.0,7.0,9.0,1016.0,72.0,15.0
2,4,Norah and George Enterprise,-0.978356,37.605026,2021-04-15 10:08:02,Unplanned,22.0,0.0,6.0,7.0,1015.0,69.0,16.0
3,5,"Roysambu, Nairobi",-1.218459,36.886906,2021-04-15 10:07:42,Unplanned,21.0,0.0,7.0,9.0,1016.0,72.0,15.0
4,6,Norah and George Enterprise,-0.978352,37.605003,2021-04-15 10:07:40,Unplanned,22.0,0.0,6.0,7.0,1015.0,69.0,16.0

In [4]:
to_drop = ['OutID',
           'LocName']

df.drop(to_drop, inplace=True, axis=1)

In [5]:
df.head()

,Lat,Lng,OutTime,Type,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew
0,-1.364094,36.747627,2021-04-15 10:31:30,Unplanned,21.0,0.0,7.0,9.0,1016.0,72.0,15.0
1,-1.394336,36.763878,2021-04-15 10:26:51,Unplanned,21.0,0.0,7.0,9.0,1016.0,72.0,15.0
2,-0.978356,37.605026,2021-04-15 10:08:02,Unplanned,22.0,0.0,6.0,7.0,1015.0,69.0,16.0
3,-1.218459,36.886906,2021-04-15 10:07:42,Unplanned,21.0,0.0,7.0,9.0,1016.0,72.0,15.0
4,-0.978352,37.605003,2021-04-15 10:07:40,Unplanned,22.0,0.0,6.0,7.0,1015.0,69.0,16.0

In [6]:
df = df[['Lat','Lng','OutTime','Temp','Precip','WindSpd', 'WindGust', 'Press', 'Humid', 'Dew', 'Type']]
df.head()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Type
0,-1.364094,36.747627,2021-04-15 10:31:30,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,Unplanned
1,-1.394336,36.763878,2021-04-15 10:26:51,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,Unplanned
2,-0.978356,37.605026,2021-04-15 10:08:02,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,Unplanned
3,-1.218459,36.886906,2021-04-15 10:07:42,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,Unplanned
4,-0.978352,37.605003,2021-04-15 10:07:40,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,Unplanned

In [7]:
df['Outage'] = np.where(df['Type']== "Unplanned", '1', '0')
df.head()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Type,Outage
0,-1.364094,36.747627,2021-04-15 10:31:30,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,Unplanned,1
1,-1.394336,36.763878,2021-04-15 10:26:51,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,Unplanned,1
2,-0.978356,37.605026,2021-04-15 10:08:02,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,Unplanned,1
3,-1.218459,36.886906,2021-04-15 10:07:42,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,Unplanned,1
4,-0.978352,37.605003,2021-04-15 10:07:40,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,Unplanned,1

In [8]:
df.tail()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Type,Outage
270243,-1.248545,36.905025,2019-07-31 19:00:00,19.0,0.8,10.0,17.0,1014.0,78.0,15.0,No outage,0
270244,-1.248545,36.905025,2019-07-31 20:00:00,19.0,1.7,7.0,12.0,1015.0,81.0,15.0,No outage,0
270245,-1.248545,36.905025,2019-07-31 21:00:00,18.0,2.2,4.0,6.0,1017.0,84.0,15.0,No outage,0
270246,-1.248545,36.905025,2019-07-31 22:00:00,18.0,1.1,4.0,6.0,1017.0,85.0,15.0,No outage,0
270247,-1.248545,36.905025,2019-07-31 23:00:00,18.0,0.4,5.0,6.0,1018.0,85.0,15.0,No outage,0

In [9]:
to_drop = ['Type']

df.drop(to_drop, inplace=True, axis=1)

df.head()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
0,-1.364094,36.747627,2021-04-15 10:31:30,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,1
1,-1.394336,36.763878,2021-04-15 10:26:51,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,1
2,-0.978356,37.605026,2021-04-15 10:08:02,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,1
3,-1.218459,36.886906,2021-04-15 10:07:42,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,1
4,-0.978352,37.605003,2021-04-15 10:07:40,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,1

In [10]:
df.isnull()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
270243,False,False,False,False,False,False,False,False,False,False,False
270244,False,False,False,False,False,False,False,False,False,False,False
270245,False,False,False,False,False,False,False,False,False,False,False
270246,False,False,False,False,False,False,False,False,False,False,False
270247,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.notnull()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
270243,True,True,True,True,True,True,True,True,True,True,True
270244,True,True,True,True,True,True,True,True,True,True,True
270245,True,True,True,True,True,True,True,True,True,True,True
270246,True,True,True,True,True,True,True,True,True,True,True
270247,True,True,True,True,True,True,True,True,True,True,True

In [12]:
df.isna().sum().sum()

672

In [13]:
df.dtypes == 'object'

Lat         False
Lng         False
OutTime      True
Temp        False
Precip      False
WindSpd     False
WindGust    False
Press       False
Humid       False
Dew         False
Outage       True
dtype: bool

In [14]:
num_vals = df.columns[df.dtypes != 'object']
cat_vals = df.columns[df.dtypes == 'object']

print(num_vals)
print(cat_vals)

Index(['Lat', 'Lng', 'Temp', 'Precip', 'WindSpd', 'WindGust', 'Press', 'Humid',
       'Dew'],
      dtype='object')
Index(['OutTime', 'Outage'], dtype='object')

In [15]:
df[num_vals].isnull().sum()

Lat          0
Lng          0
Temp        96
Precip      96
WindSpd     96
WindGust    96
Press       96
Humid       96
Dew         96
dtype: int64

In [16]:
df.dropna(axis=0, how='any', inplace=True)

In [17]:
df[num_vals].isnull().sum()

Lat         0
Lng         0
Temp        0
Precip      0
WindSpd     0
WindGust    0
Press       0
Humid       0
Dew         0
dtype: int64

In [18]:
df.head()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
0,-1.364094,36.747627,2021-04-15 10:31:30,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,1
1,-1.394336,36.763878,2021-04-15 10:26:51,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,1
2,-0.978356,37.605026,2021-04-15 10:08:02,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,1
3,-1.218459,36.886906,2021-04-15 10:07:42,21.0,0.0,7.0,9.0,1016.0,72.0,15.0,1
4,-0.978352,37.605003,2021-04-15 10:07:40,22.0,0.0,6.0,7.0,1015.0,69.0,16.0,1

In [19]:
df.tail()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
270243,-1.248545,36.905025,2019-07-31 19:00:00,19.0,0.8,10.0,17.0,1014.0,78.0,15.0,0
270244,-1.248545,36.905025,2019-07-31 20:00:00,19.0,1.7,7.0,12.0,1015.0,81.0,15.0,0
270245,-1.248545,36.905025,2019-07-31 21:00:00,18.0,2.2,4.0,6.0,1017.0,84.0,15.0,0
270246,-1.248545,36.905025,2019-07-31 22:00:00,18.0,1.1,4.0,6.0,1017.0,85.0,15.0,0
270247,-1.248545,36.905025,2019-07-31 23:00:00,18.0,0.4,5.0,6.0,1018.0,85.0,15.0,0

In [26]:
df_shuffled=df.sample(frac=1).reset_index(drop=True)

df_shuffled.head()

,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
0,-0.569174,34.862274,2021-02-08 17:00:00,26.0,0.0,5.0,6.0,1008.0,43.0,12.0,0
1,0.059492,34.285599,2020-11-13 08:00:00,21.0,0.0,7.0,10.0,1015.0,71.0,15.0,0
2,-1.267577,36.842441,2021-04-14 17:00:00,21.0,0.7,12.0,18.0,1012.0,72.0,15.0,0
3,-1.307644,36.778698,2020-12-22 09:00:00,20.0,0.0,18.0,21.0,1017.0,57.0,12.0,0
4,-1.037109,36.920895,2021-04-03 04:00:00,16.0,0.2,4.0,6.0,1015.0,95.0,15.0,0

In [27]:
df_shuffled.to_csv('outwx_fine_cleaned.csv')