In [1]:
#import data analytics libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

In [2]:
#read in the dataset
dataset = pd.read_csv('outwx_fine_cleaned21.csv')
dataset.head()

,ID,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
0,0,-0.569174,34.862274,08/02/2021 17:00,26,4.2,5,5,1008,43,12,0
1,1,0.059492,34.285599,13/11/2020 08:00,21,0.7,7,10,1015,71,15,0
2,2,-1.267577,36.842441,14/04/2021 17:00,21,0.7,12,18,1012,72,15,0
3,3,-1.307644,36.778698,22/12/2020 09:00,20,0.0,18,21,1017,57,12,0
4,4,-1.037109,36.920895,03/04/2021 04:00,16,0.2,4,6,1015,95,15,0

In [3]:
# describing the dataset(mean, count, std dev, percentiles etc...)
dataset.describe(include='all')

,ID,Lat,Lng,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Outage
count,270152.000000,270152.000000,270152.000000,270152,270152.000000,270152.000000,270152.000000,270152.000000,270152.000000,270152.000000,270152.000000,270152.000000
unique,NaN,NaN,NaN,22276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,13/05/2020 15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,135075.500000,-1.183763,36.766015,NaN,20.169186,0.524055,10.961392,15.573203,1013.932227,69.929499,13.733765,0.040096
std,77986.309298,0.869119,1.019543,NaN,3.987640,2.306747,5.959513,9.144710,2.666514,18.017628,3.202991,0.196185
min,0.000000,-4.644477,33.976040,NaN,4.000000,0.000000,0.000000,0.000000,1003.000000,11.000000,-8.000000,0.000000
25%,67537.750000,-1.304534,36.714561,NaN,17.000000,0.000000,6.000000,9.000000,1012.000000,57.000000,12.000000,0.000000
50%,135075.500000,-1.253145,36.822781,NaN,20.000000,0.000000,10.000000,14.000000,1014.000000,73.000000,14.000000,0.000000
75%,202613.250000,-1.140089,36.919720,NaN,23.000000,0.100000,15.000000,21.000000,1016.000000,85.000000,15.000000,0.000000
max,270151.000000,4.398081,40.901901,NaN,37.000000,20.500000,45.000000,66.000000,1022.000000,100.000000,25.000000,1.000000

In [4]:
#rermoving "OutTime, ID, Lat & Lng" since they are no longer needed in this context
del dataset['OutTime']
del dataset['ID']

del dataset['Lat']
del dataset['Lng']

dataset.head()

   Temp  Precip  WindSpd  WindGust  Press  Humid  Dew  Outage
0    26     4.2        5         5   1008     43   12       0
1    21     0.7        7        10   1015     71   15       0
2    21     0.7       12        18   1012     72   15       0
3    20     0.0       18        21   1017     57   12       0
4    16     0.2        4         6   1015     95   15       0

In [5]:
#deleting "WindSpd" and "Dew" since they do not heavily correlate to th dataset
del dataset['WindSpd']
del dataset['Dew']

dataset.head()

   Temp  Precip  WindGust  Press  Humid  Outage
0    26     4.2         5   1008     43       0
1    21     0.7        10   1015     71       0
2    21     0.7        18   1012     72       0
3    20     0.0        21   1017     57       0
4    16     0.2         6   1015     95       0

In [6]:
# creating input features and target variables
X= dataset.iloc[:,0:5]
y= dataset.iloc[:,5]

X.head()

   Temp  Precip  WindGust  Press  Humid
0    26     4.2         5   1008     43
1    21     0.7        10   1015     71
2    21     0.7        18   1012     72
3    20     0.0        21   1017     57
4    16     0.2         6   1015     95

In [7]:
# #standardizing the input feature
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
X
y.tail()

270147    0
270148    0
270149    0
270150    1
270151    0
Name: Outage, dtype: int64

In [10]:
# KNN Classifier
from sklearn.neighbors import KNeighborsClassifier

# Import Tf-idf Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Import the Label Encoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import label_binarize

# Import the train test split
from sklearn.model_selection import train_test_split

# To evaluate our model
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [15]:
# Initialize the KNN
knn = KNeighborsClassifier(n_neighbors=3)

# Fit the model
knn = knn.fit(tfidf_train, y_train)

# Print the accuracy score
print("Accuracy:",knn.score(tfidf_test, y_test))

Accuracy: 0.9445910290237467

In [16]:
# Predict the labels
y_pred = knn.predict(tfidf_test)

# Print the Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix\n")
print(cm)


# Print the Classification Report
cr = classification_report(y_test, y_pred)
print("\n\nClassification Report\n")
print(cr)

Confusion Matrix

[[ 13   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   1   0   0   0   1   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   4   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0 180   2   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   4  17   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   4   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   2   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   2   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0]
 [  1   0   0   0   0   2   0   0   0   0   0   0   0   0 140   0   0]
 [  0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0]]


Classification Report

              precision    recall  f1-score   support

     4012000       0.87      1.00      0.93        13
     4021000       0.00      0.00      0.00         1
     7133900       0.00      0.00      0.00         0
    10051000       0.00      0.00      0.00         2
    10062000       0.00      0.00      0.00         4
    10063000       0.93      0.99      0.96       182
    10064000       0.85      0.81      0.83        21
    17011190       1.00      1.00      1.00         4
    39173900       0.00      0.00      0.00         1
    44072100       1.00      1.00      1.00         2
    44123900       1.00      1.00      1.00         1
    44129400       0.00      0.00      0.00         0
    44129900       0.00      0.00      0.00         2
    69089000       1.00      1.00      1.00         1
    85071000       1.00      0.98      0.99       143
    85171100       0.00      0.00      0.00         1
    95045000       0.00      0.00      0.00         1

    accuracy                           0.94       379
   macro avg       0.45      0.46      0.45       379
weighted avg       0.92      0.94      0.93       379

C:\Anaconda\envs\myenv1\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\envs\myenv1\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\envs\myenv1\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\envs\myenv1\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\envs\myenv1\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\envs\myenv1\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [18]:
tfidf_test = vectorizer.transform(df['PRODUCTDESCRIPTION'])
y_pred = knn.predict(tfidf_test)

testing_predictions = []
check_df = pd.DataFrame({"HSCODE": list(y_test), "prediction": "0", "PRODUCTDESCRIPTION":list(X_test)})

for i in range(len(X_test)):
    testing_predictions.append(y_pred[i])
    
for i in range(len(testing_predictions)):
    check_df.replace(to_replace="0", value=testing_predictions[i], inplace=True)
    
print(testing_predictions)

[4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4012000, 4059000, 7133300, 7133300, 7133300, 7133300, 7133900, 7133900, 10064000, 7133900, 10063000, 10061000, 10062000, 10063000, 10063000, 10063000, 10063000, 4012000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10064000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000, 10063000]

In [19]:
check_df

       HSCODE  prediction                                 PRODUCTDESCRIPTION
0    10063000     4012000  stc thai white rice grade moto brand packed in...
1    10063000     4012000           pakistan long grain rice grade broken pc
2    85071000     4012000                                 automotive battery
3    85071000     4012000                                         of battery
4    85071000     4012000                        containing brand motorcycle
..        ...         ...                                                ...
374  85071000     4012000         stc car battery brand name visca power cmf
375  10063000     4012000                   thai long grain white rice grade
376  10063000     4012000                      pakistan long grain whit rice
377  10063000     4012000                                 rice arborio white
378  10063000     4012000               thailand long grain white rice grade

[379 rows x 3 columns]